// Load component based styles
@import "_base_component.scss";
@import "_registration.scss";
@import "_recommendations_page.scss";
@import "_reset_password.scss";
@import "_progressive_profiling_page.scss";
@import "_login_page.scss";
@import "_forgot_password.scss";
@import "_recommendations_card_base.scss";
//
// ----------------------------
// #COLORS
// ----------------------------
$white: #FFFFFF;

// social platforms
$facebook-blue: #1877F2;
$facebook-focus-blue: #29487d;
$google-blue: #4285f4;
$google-focus-blue: #287ae6;
$microsoft-black: #2f2f2f;
$microsoft-focus-black: #000;
$apple-black: #000000;
$apple-focus-black: $apple-black;

$elevation-level-2-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);


// Forgot Password Page
.forgot-password-button-width {
  min-width: 6rem;
}
.spinner--position-centered {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  margin: auto;
}

.main-content {
  @extend .pt-4;
  width: 100%;
  max-width: 582px;
  min-height: 32rem;
  background-color: #FFF;
  border: 1px solid #EFF0F7;
  position: relative;
  align-items: center;
  // Inner content centering
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
  margin: 0 auto;
  // Responsive styles
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 1.5rem;
  }

  // Center OR section
  .separator-text {
    text-align: center;
    position: relative;
    margin: 1.5rem 0;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: calc(50% - 2rem);
      height: 1px;
      background-color: #E0E1E4;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 55px;
    background-image: url("data:image/svg+xml,%3Csvg width='53' height='55' viewBox='0 0 53 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.51773 63.0481C-4.37634 63.034 -9.97413 57.4144 -9.96 50.5193L-9.86419 3.77183C-15.8669 7.78903 -19.825 14.6245 -19.8409 22.3898L-19.8985 50.4989C-19.9239 62.8932 -9.89708 72.9624 2.49735 72.9878L30.6064 73.0455C38.3718 73.0614 45.223 69.1302 49.2646 63.144L2.51773 63.0481Z' fill='%23FAA422'/%3E%3Cpath d='M49.4109 0.0887788L43.8359 0.0773529C43.2617 1.64603 42.62 3.26289 41.9025 4.92446C41.4952 5.86652 42.6785 6.69051 43.4108 5.97114L49.4109 0.0887788Z' fill='%23FAA422'/%3E%3Cpath d='M8.20442 0.00443243L2.64822 -0.00695468C0.302395 -0.0117623 -1.95948 0.34512 -4.08609 1.00869L-4.17896 46.3228C-4.18113 47.3807 -2.71181 47.648 -2.34436 46.6572C5.51453 25.4831 7.78354 9.89325 8.20442 0.00443243Z' fill='%23FAA422'/%3E%3Cpath d='M24.0938 0.0368299L14.0279 0.0162003C13.6883 8.59212 12.0228 21.0558 6.91418 37.4179C6.68171 38.1618 7.693 38.6439 8.10347 37.9811C17.2848 23.1573 21.8682 10.1518 24.0938 0.0368299Z' fill='%23FAA422'/%3E%3Cpath d='M38.7204 0.0668904L30.0062 0.0490311C28.6252 6.69332 26.1455 15.1219 21.7239 24.7946C21.3082 25.7039 22.462 26.5111 23.1757 25.8116L25.078 23.9462C31.5835 15.4909 35.8883 7.37008 38.7204 0.0668904Z' fill='%23FAA422'/%3E%3Cpath d='M52.326 4.53144L52.3146 10.1068C50.7433 10.6747 49.1233 11.3098 47.4589 12.0204C46.5148 12.4237 45.6965 11.238 46.4185 10.5075L52.326 4.53144Z' fill='%23FAA422'/%3E%3Cpath d='M52.2424 45.7395L52.231 51.2964C52.2262 53.6423 51.8598 55.9029 51.1879 58.0275L5.87269 57.9347C4.81598 57.9325 4.55457 56.4611 5.54798 56.0977C26.7531 48.3255 42.3521 46.1206 52.2424 45.7395Z' fill='%23FAA422'/%3E%3Cpath d='M52.2749 29.8497L52.2543 39.9154C43.6767 40.2205 31.2067 41.8345 14.8237 46.8757C14.0789 47.1054 13.6 46.0919 14.2647 45.6851C29.1269 36.5637 42.1507 32.0336 52.2749 29.8497Z' fill='%23FAA422'/%3E%3Cpath d='M52.3042 15.2228L52.2863 23.9374C45.6365 25.2916 37.1975 27.7364 27.5071 32.1182C26.5961 32.5301 25.7937 31.3732 26.496 30.6615L28.3693 28.7676C36.8507 22.2969 44.9896 18.0251 52.3042 15.2228Z' fill='%23FAA422'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 63px;
    background-image: url("data:image/svg+xml,%3Csvg width='69' height='69' viewBox='0 0 69 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.8105 61.0994L60.8105 61.0994L7.33007 7.04239L61.0988 7.33064L60.8105 61.0994Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top right;
    transform: rotate(180deg);
    pointer-events: none;
    z-index: 2;
  }
}

.welcome-page-content {
  min-width: 100% !important;
  max-width: 464px !important;
  margin: 0 auto;
}

.stateful-button-width {
  width: 12rem;
}

.tpa-skeleton {
  width: 100%;
  max-width: 464px !important;
  min-width: auto !important;
  margin: 0 auto 0.75rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.close {
  padding-bottom: 0px !important;
  padding-top: 3px !important;
}

.focus-out {
  position: absolute;
  padding-left: 17px;
  opacity: 0.75;
  z-index: 1;
}

.alert-link {
  font-weight: normal;
  text-decoration: underline;
  color: $info-300 !important;

  &:hover {
    color: $info-500 !important;
  }
}

.form-control {
  background-color: $white !important;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 2.75rem;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn-social {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
  font-size: 14px;

  background-color: $white;
  border: 1px solid $primary;
  width: 224px;
  height: 36px;
  color: $primary;

  .btn-tpa__image-icon{
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.btn-tpa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  width: 14rem;

  .btn-tpa__image-icon {
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.btn-tpa__font-container {
  background-color: $primary;
  color: $white;
  font-size: 11px;

  margin-left: -6px;
  padding-top: 10px;
  min-width: 30px;
  height: 35px;
}

.btn-oa2-facebook {
  color: $white;
  border-color: $facebook-blue;
  background-color: $facebook-blue;

  &:hover,
  &:focus {
    background-color: $facebook-focus-blue;
    border: 1px solid $facebook-focus-blue;
    color: $white;
  }
}

.btn-oa2-google-oauth2 {
  color: $white;
  border-color: $google-blue;
  background-color: $google-blue;

  .ibtn-tpa__image-icon {
    margin-left: -6px;
    max-height: 34px;
    max-width: 34px;
    height: 34px;
  }

  &:hover,
  &:focus {
    background-color: $google-focus-blue;
    border: 1px solid $google-focus-blue;
    color: $white;
  }
}

.btn-oa2-apple-id {
  color: $white;
  border-color: $apple-black;
  background-color: $apple-black;
  font-size: 16px;

  .ibtn-tpa__image-icon {
    max-height: 1.8em;
    max-width: 2.0em;
  }

  &:hover,
  &:focus {
    background-color: $apple-focus-black;
    border: 1px solid $apple-focus-black;
    color: $white;
  }
}

.btn-oa2-azuread-oauth2 {
  color: $white;
  border-color: $microsoft-black;
  background-color: $microsoft-black;

  &:hover,
  &:focus {
    background-color: $microsoft-focus-black;
    border: 1px solid $microsoft-focus-black;
    color: $white;
  }
}

.submit {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.institute-icon {
  @extend .mr-1;
  @extend .text-gray;

  display: inline-block;
  margin-bottom: 0.25rem;
  height: 18px;
  width: 18px;

  svg {
    display: inline-block;
  }
}

.login-help {
  padding-left: 14px;
}

.invalid-feedback {
  color: $red;
}

.full-vertical-height {
  height: 100vh;
}

.help-links {
  margin-left: -5px;
}

select.form-control {
  background: none !important;
}

#honor-code p {
  margin: 0;
  padding: 0;
}

#honor-code a span {
  @extend .sr-only;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.mw-420 {
  max-width: 420px;
}

.mw-500 {
  max-width: 500px;
}

.mw-32em {
  max-width: 32em;
}

.h-90 {
  height: 90%;
}

.mt-10 {
  margin-top: 10px;
}

.mt-7 {
  margin-top: 7rem;
}

.pt-10 {
  padding-top: 10px;
}

#password-requirement-left {
  opacity: 1;
  @extend .x-small;
  filter: drop-shadow($elevation-level-2-shadow) drop-shadow($elevation-level-2-shadow) !important;
  right: 0.2rem !important;
  .tooltip-inner {
    background: $white;
    display: block;
    color: $gray-500;
  }
  .arrow::before {
    border-left-color: $white;
  }
}

#password-requirement-top {
  @extend .x-small;
  filter: drop-shadow($elevation-level-2-shadow) drop-shadow($elevation-level-2-shadow) !important;
  opacity: 1;
  width: 90%;
  bottom: 10px !important;
  display: flex;
  justify-content: center;

  .tooltip-inner {
    min-width: auto !important;
    max-width: 464px !important;
    background: $white;
    display: block;
    color: $gray-500;
  }
  .arrow::before {
    border-top-color: $white;
  }

}

.yellow-border {
  border: 2px solid $accent-b;
}

.institutions__heading {
  color: $primary-700;
}

.logistration-button {
  color: $gray-700;
}

.logistration-button:hover{
  color: $gray-700;
  text-decoration: none;
}


#forgot-password {
  &:hover {
    text-decoration: underline;
  }
}

.icon-size {
  width: 2.3rem;
}
.has-floating-label {
  color: $gray-500;
}

.pgn__form-control-floating-label .pgn__form-control-floating-label-content {
  font-size: 0.875rem;
  line-height: 1.5;
}

.pgn__form-text {
  font-size: 0.75rem;
}

.form-group__form-field .form-control:focus ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-content {
    font-size: 16px;
    color: $primary-700;
}

.form-group__form-field .form-control:not([value='']):not(:focus) ~
  .pgn__form-control-floating-label .pgn__form-control-floating-label-content {
  font-size: 16px;
}

.pgn__form-group {
  margin-bottom: 1.75rem;
}

.form-text-size {
  margin-top: 0.188rem !important;
  line-height: 1.25rem;
}

@media (min-width: 1024px) {
  .mw-500 {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .form-control {
    width: 100%;
  }
}

@media (min-width: 463px) {
  .reset-password-container {
    width: 420px;
    max-width: 420px;
  }

  .tpa-skeleton {
    min-width: 464px !important;
  }
}


@media (max-width: 767px) {
  .welcome-page-content {
    padding-top: 1.5rem !important;
  }
}


.alert {
  p:last-child {
    margin-bottom: 0;
  }
}

// Smaller than Extra Small (Mobile Screens)
@media (max-width: 464px) {
  .btn-social,
  .welcome-page-content,
  .main-content {
    width: 100% !important;
    min-width: auto !important;
    max-width: 100% !important;
    padding: 1rem !important;
  }

  #password-requirement-top {
    display: unset;
    .tooltip-inner {
      max-width: inherit;
      min-width: unset !important;
    }
  }
  .header-container {
    justify-content: center;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $light-200;
}

.institutions--provider-link {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $primary-700
}

.pgn__form-control-decorator-trailing {
  right: 0 !important;
  padding-right: 15px;
  padding-top: 5px;
}

.header-container {
  box-shadow: 0px 2px 16px 0px #0000002E;
  max-width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.btn-login {
  background-color: #FAA422;
  border-color: #FAA422;
  width: 100%;
  padding: 15px 35px;
  gap: 20px;
  border-radius: 10px;
  margin: 25px auto;
  min-width: auto;
  max-width: 464px;
}

.btn-login:hover {
  transform: scale(1.02);
  background-color: #FAA422;
  border-color: #FAA422;
}

.btn-login:active {
  background-color: #faa422df;
  border-color: #faa422df;
}

.btn-register {
  background-color: $white;
  border-color: #181818;
  color: #181818;
  width: 100%;
  padding: 15px 35px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 55px;
}

.btn-register:hover {
  transform: scale(1.02);
  text-decoration: none !important;
}

.contact-us-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.contact-us-link {
  color: #086CD9 !important;
  text-decoration: none !important;
}

.forgot-password-link {
  float: right;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3428572118282318px;
  text-align: right;
  color: #086CD9 !important;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.login-form-label {
  font-size: 16px;
  font-weight: 420;
  line-height: 24px;
  letter-spacing: 0.3428572118282318px;
  text-align: left;
}

span.separator-or {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
  
  &:before,
  &:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E0E1E4;
  }
  
  &:before {
    margin-right: 1rem;
  }
  
  &:after {
    margin-left: 1rem;
  }
}

.login-page-heading {
  width: 100%;
  max-width: 464px !important;
  font-size: 2.5rem;
  font-weight: 420;
  line-height: 60.06px;
}

.footer-link-extra {
  font-size: 16px;
  font-weight: 390;
  line-height: 22.88px;
  text-align: left;
}

.footer-link {
  font-size: 18px;
  font-weight: 420;
  line-height: 25.74px;
  text-align: left;
}

.show-password-link {
  color: #086CD9 !important;
  text-decoration: none !important;
}

.hide-password-link {
  color: #086CD9 !important;
  text-decoration: none !important;
}